In [53]:
import pandas as pd
df=pd.read_csv("amazon_webscrep.csv",index_col=0)
df.head()

,Stars,Ratings,Prices,Brands,Capacity,Energy_stars,config
0,4.2,"4,708 ratings","27,490",Samsung,236 litres,3 Star,Freezer-on-Top
1,4.2,"4,708 ratings","27,490",Samsung,236 litres,3 Star,Freezer-on-Top
2,4.3,"6,445 ratings","24,990",Samsung,236 litres,3 Star,Freezer-on-Top
3,4.1,"4,025 ratings","11,990",Whirlpool,184 litres,2 Star,Single Door
4,4.3,"6,445 ratings","24,990",Samsung,236 litres,3 Star,Freezer-on-Top

In [54]:
df.config.unique()

array(['Freezer-on-Top', 'Single Door', 'Triple', 'Single', 'Double Door',
       'Single,Single Door', 'Full-Sized Freezer-on-Top',
       'Full-Sized Freezer-on-Bottom', 'Full-Sized Side-by-Side',
       'Full-Sized French Door', 'Side-by-Side', '5 Star', 'Convertible',
       'Compact Freezer-on-Top', 'Double', 'Compact',
       'Standard double door', '2 Star', 'Internal Freezer', 'Compressor',
       'Mini', nan, 'White', 'Multi', 'Compact Internal Freezer',
       'Freezer-on-Bottom', '3 Star', 'White and Blue',
       'JAZZ Black with Wifi', 'Rose Gold', 'Freezer Top', 'French Door',
       'Freezerless', 'Wooden', 'Black,Orange', 'Bottom Frezzer',
       'standard double door', 'As Shown in the image',
       'Compact Freezerless', 'French Door, Side-by-Side',
       'Stellata Blue', '1 Star', 'Portable', 'AWD configuration',
       'Freestanding', 'Granite Glass', '4 Star', 'As per picture',
       'Dual', 'grey', '4', 'Compact Freezer-On-Bottom'], dtype=object)

In [55]:
df.config=df.config.str.replace("Star","")

In [56]:
rows=list(df.config.value_counts().head(23).index)

In [57]:
rows

['Freezer-on-Top',
 'Single',
 'Double Door',
 'Side-by-Side',
 'Full-Sized Freezer-on-Top',
 'Double',
 '2 ',
 'Convertible',
 'Single Door',
 'Full-Sized Side-by-Side',
 '3 ',
 'Freezer-on-Bottom',
 'Standard double door',
 'Full-Sized Freezer-on-Bottom',
 '5 ',
 'Compact Freezer-on-Top',
 'Compact Freezerless',
 'Full-Sized French Door',
 'Freezerless',
 'French Door',
 'Compact',
 'Single,Single Door',
 'Triple']

In [58]:
df.config=df.config.apply(lambda x:x if (x in rows and len(x)>3) else None)

In [59]:
df.dropna(axis=0,inplace=True)

In [60]:
df.shape

(359, 7)

In [61]:
replacements={'Single,Single Door':'Single Door','Single':'Single Door','Triple':'Triple Door','Double':'Double Door',}
df.config=df["config"].replace(replacements)

In [62]:
df.config.unique()

array(['Freezer-on-Top', 'Single Door', 'Triple Door', 'Double Door',
       'Full-Sized Freezer-on-Top', 'Full-Sized Freezer-on-Bottom',
       'Full-Sized Side-by-Side', 'Full-Sized French Door',
       'Side-by-Side', 'Convertible', 'Compact Freezer-on-Top', 'Compact',
       'Standard double door', 'Freezer-on-Bottom', 'French Door',
       'Compact Freezerless'], dtype=object)

In [63]:
df.head()

,Stars,Ratings,Prices,Brands,Capacity,Energy_stars,config
0,4.2,"4,708 ratings","27,490",Samsung,236 litres,3 Star,Freezer-on-Top
1,4.2,"4,708 ratings","27,490",Samsung,236 litres,3 Star,Freezer-on-Top
2,4.3,"6,445 ratings","24,990",Samsung,236 litres,3 Star,Freezer-on-Top
3,4.1,"4,025 ratings","11,990",Whirlpool,184 litres,2 Star,Single Door
4,4.3,"6,445 ratings","24,990",Samsung,236 litres,3 Star,Freezer-on-Top

In [64]:
df.Brands.unique()

array(['Samsung', 'Whirlpool', 'Haier', 'Godrej', 'IFB', 'LG',
       'Voltas Beko', 'Panasonic', 'Blue Star', 'Amazon Brand - Solimo',
       'ROCKWELL', 'Midea', 'WESTERN', 'Western', 'BPL', 'Bosch',
       'TOSHIBA', 'Electrolux', 'Robustt', 'Voltas', 'Lloyd', 'VYBE',
       'Tropicool', 'Gem', 'Godrej Locking Solutions and Systems'],
      dtype=object)

### THE BRANDS COLUMN SEEMS GOOD WITHOUT ANY UNRELATED DATA AS WE CLEANED THEM IN CONFIGURATIONS BUT THERE IS WESTERN IN UPPER AND LOWER CASE AND GODREJ IN TWO DIFFERENT FORMATS LETS CHANGE

In [65]:
replacements={'WESTERN':'Western','Godrej Locking Solutions and Systems':'Godrej'}
df.Brands=df["Brands"].replace(replacements).str.upper()

In [66]:
df.Brands.unique()

array(['SAMSUNG', 'WHIRLPOOL', 'HAIER', 'GODREJ', 'IFB', 'LG',
       'VOLTAS BEKO', 'PANASONIC', 'BLUE STAR', 'AMAZON BRAND - SOLIMO',
       'ROCKWELL', 'MIDEA', 'WESTERN', 'BPL', 'BOSCH', 'TOSHIBA',
       'ELECTROLUX', 'ROBUSTT', 'VOLTAS', 'LLOYD', 'VYBE', 'TROPICOOL',
       'GEM'], dtype=object)

In [67]:
df.Stars.unique()

array([4.2, 4.3, 4.1, 3.9, 4. , 3.8, 3.4, 3.6, 3.5, 5. , 3.7, 3.3, 3.2,
       3.1, 4.4, 2.8, 2.9, 3. , 4.5, 1. , 1.8])

## THE STARS FEATURE DOESNOT HAVE ANY ISSUES WE NEED TO CONVERT IT IN TO THE FLOAT DATA TYPE

In [68]:
df.Stars=df.Stars.astype(float)

In [69]:
df.Stars.dtype

dtype('float64')

In [70]:
df.Ratings.unique()[0:10]

array(['4,708 ratings', '6,445 ratings', '4,025 ratings', '8,123 ratings',
       '2,957 ratings', '2,014 ratings', '3,953 ratings', '5,625 ratings',
       '2,114 ratings', '286 ratings'], dtype=object)

## I OBSERVED THAT THERE IS NO ISSUE IN RATINGS FEATURE'S DATA NOW WE NEED TO CONVERT IT INTO THE INTEGER DATA TYPE

In [71]:
df.Ratings=df.Ratings.str.replace(",","").apply(lambda x:x.split(" ")[0]).astype(int)

In [72]:
df.Ratings.head()

0    4708
1    4708
2    6445
3    4025
4    6445
Name: Ratings, dtype: int64

In [73]:
df.Prices.unique()[0:10]

array(['27,490', '24,990', '11,990', '27,990', '21,990', '15,990',
       '16,690', '15,190', '22,490', '16,990'], dtype=object)

## I OBSERVED THAT THERE IS NO ISSUE IN PRICES FEATURE'S DATA NOW WE NEED TO CONVERT IT INTO THE INTEGER DATA TYPE

In [74]:
df.Prices=df.Prices.str.replace(",","").astype(int)

In [75]:
df.Prices.head()

0    27490
1    27490
2    24990
3    11990
4    24990
Name: Prices, dtype: int64

In [76]:
df.Capacity.unique()[0:10]

array(['236 litres', '184 litres', '270 litres', '235 litres',
       '192 litres', '190 litres', '183 litres', '180 litres',
       '223 litres', '215 litres'], dtype=object)

## I OBSERVED THAT THERE IS NO ISSUE IN CAPACITY FEATURE'S DATA NOW WE NEED TO CONVERT IT INTO THE FLOAT DATA TYPE

In [77]:
df.Capacity=df.Capacity.apply(lambda x:x.split(" ")[0]).astype(float)

In [78]:
df.Capacity.head()

0    236.0
1    236.0
2    236.0
3    184.0
4    236.0
Name: Capacity, dtype: float64

In [79]:
df.Energy_stars.unique()

array(['3 Star', '2 Star', 'Alpha Steel', '5 Star', '4 Star', '5',
       'Shiny Steel', 'Western Black', 'German Steel', '1 Star',
       'NO Rating', 'Steel Onyx', 'Black', 'Radiant Steel', 'No rating',
       'Graphite Black', 'Black Glass', '4', 'No Rating',
       '4 Star, 2 Star', '5 star rating', 'Blue Glass', 'Arctic Silver',
       'Gentle Black Matt', 'EZ Clean Steel'], dtype=object)

## WE CAN OBSERVE THAT THE ENEERGY_STARS FEATURE IS MESSY WE NEED TO PERFORM SOME CLEANING HERE

In [80]:
rows=list(df.Energy_stars.value_counts()[:8].index)

In [81]:
rows

['3 Star',
 '2 Star',
 '5 Star',
 '4 Star',
 '1 Star',
 '5 star rating',
 'NO Rating',
 '5']

In [82]:
df.Energy_stars.value_counts()

Energy_stars
3 Star               135
2 Star               101
5 Star                41
4 Star                31
1 Star                 8
5 star rating          7
NO Rating              6
5                      5
Alpha Steel            3
EZ Clean Steel         3
Radiant Steel          2
Shiny Steel            2
Black                  2
Steel Onyx             2
Western Black          1
German Steel           1
No rating              1
Black Glass            1
Graphite Black         1
No Rating              1
4                      1
4 Star, 2 Star         1
Blue Glass             1
Arctic Silver          1
Gentle Black Matt      1
Name: count, dtype: int64

In [83]:
df.Energy_stars=df.Energy_stars.apply(lambda x:x.split(" ")[0]).apply(lambda x:x if (len(x)<2) else None).astype(float)

In [84]:
df.Energy_stars.head()

0    3.0
1    3.0
2    3.0
3    2.0
4    3.0
Name: Energy_stars, dtype: float64

In [85]:
df.dropna(axis=0,inplace=True)

In [86]:
df.shape

(330, 7)

In [87]:
df.Energy_stars=df.Energy_stars.astype(int)

In [88]:
df.Energy_stars.head()

0    3
1    3
2    3
3    2
4    3
Name: Energy_stars, dtype: int64

## NOW OUR DATASET IS CLEANED AND WE CAN PERFORM VISUALIZATION IN POWER BI EFFICIENTLY AND CAN ALSO PERFORM EDA

In [89]:
df.head()

   Stars  Ratings  Prices     Brands  Capacity  Energy_stars          config
0    4.2     4708   27490    SAMSUNG     236.0             3  Freezer-on-Top
1    4.2     4708   27490    SAMSUNG     236.0             3  Freezer-on-Top
2    4.3     6445   24990    SAMSUNG     236.0             3  Freezer-on-Top
3    4.1     4025   11990  WHIRLPOOL     184.0             2     Single Door
4    4.3     6445   24990    SAMSUNG     236.0             3  Freezer-on-Top

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 330 entries, 0 to 483
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Stars         330 non-null    float64
 1   Ratings       330 non-null    int64
 2   Prices        330 non-null    int64
 3   Brands        330 non-null    object
 4   Capacity      330 non-null    float64
 5   Energy_stars  330 non-null    int64
 6   config        330 non-null    object
dtypes: float64(2), int64(3), object(2)
memory usage: 20.6+ KB

In [91]:
df.describe()

            Stars      Ratings         Prices    Capacity  Energy_stars
count  330.000000   330.000000     330.000000  330.000000    330.000000
mean     3.992727  1219.763636   31128.912121  276.225758      3.066667
std      0.499795  1694.848773   22569.000212  132.298691      1.069803
min      1.000000     1.000000    2999.000000    5.000000      1.000000
25%      3.900000    31.250000   16690.000000  190.000000      2.000000
50%      4.100000   370.000000   23990.000000  236.000000      3.000000
75%      4.200000  1665.000000   36422.500000  322.000000      4.000000
max      5.000000  6445.000000  181134.000000  688.000000      5.000000

In [92]:
(df.Prices<10000).sum()

np.int64(9)

In [94]:
df2=df[df.Prices>10000]

In [95]:
df2.shape

(321, 7)

In [96]:
df2.head()

   Stars  Ratings  Prices     Brands  Capacity  Energy_stars          config
0    4.2     4708   27490    SAMSUNG     236.0             3  Freezer-on-Top
1    4.2     4708   27490    SAMSUNG     236.0             3  Freezer-on-Top
2    4.3     6445   24990    SAMSUNG     236.0             3  Freezer-on-Top
3    4.1     4025   11990  WHIRLPOOL     184.0             2     Single Door
4    4.3     6445   24990    SAMSUNG     236.0             3  Freezer-on-Top

## NOW WE ARE ALL SET TO EXPORT THE DATASET AS CSV FILE FOR POWER BI

In [98]:
df2.to_csv("cleaned_df_for_BI.csv",index=False)